.sendBtn {
    background-color: rgb(98, 78, 255);
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    border-radius: 10px;
    width: 70px;
    height:70px;
    border: none;
    padding: 7px;
    margin: 10px;
    cursor: pointer;
}

.allSendBtns{
    display: flex;
    width: 200px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.reception {
    background-color: rgb(255, 255, 255);
    width: 400px;
    height: 400px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.endTreatment {
    background-color: rgb(255, 63, 63);
    color: white;
    border-radius: 20px;
    width: 100px;
    border: none;
    padding: 7px;
    margin: 10px;
    cursor: pointer;
}

.moveToHeadBtn {
    background-color: rgb(255, 63, 63);
    color: white;
    border-radius: 20px;
    width: 150px;
    border: none;
    padding: 7px;
    margin: 10px;
    cursor: pointer;
}

.getNumber {
    background-color: rgb(255, 63, 63);
    color: white;
    border-radius: 20px;
    width: 100px;
    border: none;
    padding: 7px;
    margin: 20px;
    cursor: pointer;

}

.customer {
    background-color: aliceblue;
    width: 300px;
    height: 200px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 30px;
}

.saveNumber {
    font-size: 10pt;
    margin-top: 20px;
}

.patientsScreen , .receptionScreen , .doctorScreen{
    width: fit-content;
    padding: 20px;
    height: fit-content;
    background-color: rgb(245, 245, 245);
    border-radius: 10px;
    margin: 20px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}
.doctorCont{
    align-items: center;
    background-color: rgb(255, 255, 255);
    width: 400px;
    height: 400px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.roomTitle{
    background-color: rgb(255, 255, 255);
    width:100px;
    padding: 5px;
    text-align: center;
    
}
.roomScreen {
    margin: 10px;
    width: 220px;
    height: 220px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.roomTitle {
    background-color: aliceblue;
    width: 150px;
    padding: 5px;
    border-radius: 15px;
    font-size: 14pt;
    
}
.currentNum{
    font-size: 40pt;
    font-weight: 700;
}

.rooms{
    width: 800px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

}
.messages{
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    margin: 10px;
    background-color: rgb(255, 255, 255);
    width:400px;
    height: 550px;

}
.allQueues{
    align-items: center;
    background-color: rgb(245, 245, 245);
    width: 400px;
    height: 200px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 30px;
}
.cont{
    display: flex;
    justify-content: center;
    justify-items: center;
    direction: rtl;
}